<div class="container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{title}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item>{{title}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
        <button mat-raised-button color="primary" id="find-me" (click)="findMe()">Mutasd a helyzetem!</button>
        <span id="status"></span>
        <a id="map-link" target="_blank"></a>
      </div>

      <div class="table" *ngIf="(geonames$ | async).geonames as geonames else noData">
        <h3>Közeli helyek:</h3>
        <div class="row header">
          <div class="cell">Hely</div>
          <div class="cell">Szélesség</div>
          <div class="cell">Hosszúság</div>
          <div class="cell">Hőmérséklet</div>
        </div>
        <div *ngFor="let geoname of geonames" class="row">
          <div class="cell">{{geoname.name}}</div>
          <div class="cell">{{geoname.lat}}</div>
          <div class="cell">{{geoname.lng}}</div>
          <div class="cell">{{geoname.temp}}</div>
        </div> 
      </div>
      <ng-template #noData>No Data Available</ng-template>

      <button mat-raised-button color="primary" id="find-me" (click)="kkk()">kkk</button>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
